<!DOCTYPE html>
<html>
<head>
    <title>Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <h1>How to Use</h1>
    
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('network') }}">View Network</a>
    </nav>
    
    <br>
    
    <h2>About CODE Network</h2>
    <p>When you have a contact that would be valuable for the CODE Community, please add them to help CODE grow.</p>
    
    <h2>Adding a Contact</h2>
    <ol>
        <li>Click "Add Contact"</li>
        <li>Fill in their information</li>
        <li>Explain why they're valuable</li>
        <li>Click submit</li>
    </ol>
    
    <h2>Viewing Contacts</h2>
    <p>Go to "View Network" to see all the contacts.</p>
</body>
</html>